@font-face 
{
  font-family: 'GoodDog';
  src: 	URL('GOODDP_.ttf') format('truetype'),
  		URL('GOODDP_.woff') format('woff');
}
html
{
	background-image: url("wallpaper.jpg");
	background-repeat: repeat;
	background-size: 100%;
	font-family: 'GoodDog', Fallback, sans-serif;
}
h1
{
    font-size: 56pt;
}
body
{
	text-align: center;
}
h2
{
    padding-top: 1%;
    font-size: 40pt;
}
h1, h2
{
	text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}
p
{
    padding-left: 20%;
    padding-right: 20%;
}
p, li
{
    font-size: 24pt;
    text-shadow: -1px 0 rgba(220, 220, 220), 0 1px rgba(220, 220, 220), 1px 0 rgba(220, 220, 220), 0 -1px rgba(220, 220, 220);
}
img#imagenPreview
{
    transition: all .25s ease-in-out;
    border: 2px solid;
}
img.imagen:hover
{
    cursor: pointer;
}
img#imagenPreview
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}
img#imagenPreview:hover
{
    transform: scale(1.1);
}
img#github, img#drive
{
    width: 128px;
    height: 128px;
}
a#imagenDescarga
{
    width: 128px;
    margin: 0 auto;
    display: block;
}
div.sidebar
{
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 33%;
    left: 1%;
    background: rgba(60, 60, 60, .75);
    overflow-x: hidden;
    padding: 8px 0;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
div.sidebar:hover
{
    background: rgba(60, 60, 60, .9);
}
div.sidebar a, div.divTexto a
{
    text-decoration: none;
    color: #2196F3;
    text-shadow: none;
}
div.sidebar a
{
	padding: 6px 8px 6px 16px;
	font-size: 32pt;
	display: block;
    text-align: left;
}
div.sidebar a:hover, div.divTexto a:hover
{
    color: #064579;
}
footer 
{
    font-size: 16pt;
	padding: 1%;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    border-radius: 5px;
}